@import "./variables";

.margin {
  &-top {
    &-xsmall {
      margin-top: $space-one-fourth;
    }
    &-small {
      margin-top: $space-one-third;
      @media (min-width: $break-small) {
        margin-top: $space-half;
      }
    }
    &-medium {
      margin-top: $space-two-third;
      @media (min-width: $break-small) {
        margin-top: $space;
      }
    }
    &-large {
      margin-top: $space;
      @media (min-width: $break-small) {
        margin-top: $space-double;
      }
    }
    &-xlarge {
      margin-top: $space-triple * 0.5;
      @media (min-width: $break-small) {
        margin-top: $space-triple;
      }
    }
    &-xxlarge {
      margin-top: $space-quadruple * 0.5;
      @media (min-width: $break-small) {
        margin-top: $space-quadruple;
      }
    }
  }
  &-bottom {
    &-xsmall {
      margin-bottom: $space-one-fourth;
    }
    &-small {
      margin-bottom: $space-one-third;
      @media (min-width: $break-small) {
        margin-bottom: $space-half;
      }
    }
    &-medium {
      margin-bottom: $space-two-third;
      @media (min-width: $break-small) {
        margin-bottom: $space;
      }
    }
    &-large {
      margin-bottom: $space;
      @media (min-width: $break-small) {
        margin-bottom: $space-double;
      }
    }
    &-xlarge {
      margin-bottom: $space-triple * 0.5;
      @media (min-width: $break-small) {
        margin-bottom: $space-triple;
      }
    }
    &-xxlarge {
      margin-bottom: $space-quadruple * 0.5;
      @media (min-width: $break-small) {
        margin-bottom: $space-quadruple;
      }
    }
  }
}

.padding {
  &-top {
    &-xsmall {
      padding-top: $space-one-fourth;
    }
    &-small {
      padding-top: $space-one-third;
      @media (min-width: $break-small) {
        padding-top: $space-half;
      }
    }
    &-medium {
      padding-top: $space-two-third;
      @media (min-width: $break-small) {
        padding-top: $space;
      }
    }
    &-large {
      padding-top: $space;
      @media (min-width: $break-small) {
        padding-top: $space-double;
      }
    }
    &-xlarge {
      padding-top: $space-triple * 0.5;
      @media (min-width: $break-small) {
        padding-top: $space-triple;
      }
    }
    &-xxlarge {
      padding-top: $space-quadruple * 0.5;
      @media (min-width: $break-small) {
        padding-top: $space-quadruple;
      }
    }
  }
  &-bottom {
    &-xsmall {
      padding-bottom: $space-one-fourth;
    }
    &-small {
      padding-bottom: $space-one-third;
      @media (min-width: $break-small) {
        padding-bottom: $space-half;
      }
    }
    &-medium {
      padding-bottom: $space-two-third;
      @media (min-width: $break-small) {
        padding-bottom: $space;
      }
    }
    &-large {
      padding-bottom: $space;
      @media (min-width: $break-small) {
        padding-bottom: $space-double;
      }
    }
    &-xlarge {
      padding-bottom: $space-triple * 0.5;
      @media (min-width: $break-small) {
        padding-bottom: $space-triple;
      }
    }
    &-xxlarge {
      padding-bottom: $space-quadruple * 0.5;
      @media (min-width: $break-small) {
        padding-bottom: $space-quadruple;
      }
    }
  }
}

%column-gap {
  @media (min-width: $break-small) {
    &.column-gap-none {
      column-gap: 0;
    }

    &.column-gap-xsmall {
      column-gap: $space-one-fourth;
    }

    &.column-gap-small {
      column-gap: $space-half;
    }

    &.column-gap-medium {
      column-gap: $space;
    }

    &.column-gap-large {
      column-gap: $space-double;
    }
    &.column-gap-xlarge {
      column-gap: $space-triple;
    }
    &.column-gap-xxlarge {
      column-gap: $space-quadruple;
    }
  }
}

.wp-block-cloudblocks-section-row {
 &.alignwide {
    max-width: $content-width-wide;
  }
  
  &.alignfull {
    max-width: $content-width-full;
  }
}

[class*="-section-row-inner-"] {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width;
  width: 100%;

  &.wide {
    max-width: $content-width-wide;
  }

  &.full {
    margin-left: $space;
    margin-right: $space;
    max-width: none;
  }
}
