// Variables$space: 30px;
$space: 30px;
$space-one-fourth: $space * 0.25;
$space-one-third: $space * 0.33;
$space-half: $space * 0.5;
$space-two-third: $space * 0.66;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quadruple: $space * 4;

$content-width: 690px;
$content-width-wide: 1050px;
$content-width-full: 100%;

$break-small: 480px;

.container {
  max-width: $content-width;
  padding-left: $space;
  padding-right: $space;
  margin-left: auto;
  margin-right: auto;
}
