@import "../styles/variables";
@import "../styles/spacing";

// The class name needs to match the names of the category and block
.wp-block-cloudblocks-section-row-inner-gallery.save {
  display: flex; // IE11
  flex-wrap: wrap; // IE11
  justify-content: space-between; // IE11
  grid-row-gap: $space-half;

  @supports (display: grid) { // Above IE11
    display: grid;
  }

  @media (min-width: $break-small) {
    &.columns-1 {
      grid-template-columns: repeat(1, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 1) - 2;
      }
    }
    &.columns-2 {
      grid-template-columns: repeat(2, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 2) - 2;
      }
    }
    &.columns-3 {
      grid-template-columns: repeat(3, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 3) - 2;
      }
    }
    &.columns-4 {
      grid-template-columns: repeat(4, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 4) - 2;
      }
    }
    &.columns-5 {
      grid-template-columns: repeat(5, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 5) - 2;
      }
    }
    &.columns-6 {
      grid-template-columns: repeat(6, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 6) - 2;
      }
    }
    &.columns-7 {
      grid-template-columns: repeat(7, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 7) - 2;
      }
    }
    &.columns-8 {
      grid-template-columns: repeat(8, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 8) - 2;
      }
    }
    &.columns-9 {
      grid-template-columns: repeat(9, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 9) - 2;
      }
    }
    &.columns-10 {
      grid-template-columns: repeat(10, 1fr);

      > .section-row-cell {
        flex-basis: (100% / 10) - 2;
      }
    }
  }

  @extend %column-gap;

  @media (min-width: $break-small) {
    &.row-gap-none {
      row-gap: 0;
    }
    &.row-gap-xsmall {
      row-gap: $space-one-fourth;
    }
    &.row-gap-small {
      row-gap: $space-half;
    }
    &.row-gap-medium {
      row-gap: $space;
    }
    &.row-gap-large {
      row-gap: $space-double;
    }
    &.row-gap-xlarge {
      row-gap: $space-triple;
    }
    &.row-gap-xxlarge {
      row-gap: $space-quadruple;
    }
  }

  &.height-full {
    height: 100%; // IE11 (TODO: Find another work arround due to issue when window is below height of content)
    min-height: 100%;
  }
}
